{% extends "layout.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

	<h1 class="ui header">{{ title }}</h1>

	{% if current_user.is_authenticated %}
	  	<h2 class="ui header">Hi {{ current_user.name }}!</h2>
	{% endif %}
	<div class="row" style="background-color:#FDFDFE;">
	<h3>This wep app has been developed by CS undergrads(Pratyusha Sinha, <a href="https://subratasarkar32.github.io/" >Subrata Sarkar</a>) at <a href="https://gcect.ac.in" >Government College of Engineering and Ceramic Technology</a>.</h3>
    <h3>Email: pneutakecare@gmail.com</h3>
    </div>
{% endblock %}