<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Error! page not found</title>

</head>
<body>
<center>
<iframe src="https://subrata32.pythonanywhere.com/jsgame/" style="border:none;height:400px;width:600px;"></iframe>
<div id="notfound">

<h1>404</h1>
<h2>Oops! This Page Could Not Be Found</h2>
<p>Sorry but the page you are looking for does not exist, have been removed. name changed or is temporarily unavailable</p>
<a href="https://subrata32.pythonanywhere.com"><button>Homepage</button></a>
</center>
</div>

</body>
</html>