<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pneutakecare : X-ray Image Classification using Convolutional Neural Networks</title>
  <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: right;
}
</style>


      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
	<h1>X-ray Image Classification using <span>Convolutional Neural Networks</span></h1>

	<div id="about" style="margin:65px; margin-top:80px;">
	    <p>
        We have designed and trained a convolutional neural network using keras. This will provide people with the required information before contacting the doctor and significantly speed up the process of diagnosis. We take the patient's x-ray image of the chest and then run our model and give the prediction. We have implemented a desktop app ,android app and flask web app.
        </p>
        <h3>This wep app has been developed by CS undergrads(Pratyusha Sinha, <a href="https://subratasarkar32.github.io/" >Subrata Sarkar</a>) at <a href="https://gcect.ac.in" >Government College of Engineering and Ceramic Technology</a>.</h3>
        <h3>Email: <a href="mailto:pneutakecare@gmail.com">pneutakecare@gmail.com</a></h3>
	</div>

<div class="footer">
  <a href="https://subrata32.pythonanywhere.com">Home</a> | <a href="https://subrata32.pythonanywhere.com/about/">About</a> | <a href="https://subrata32.pythonanywhere.com/contact/">Contact</a>
</div>
</body>
</html>