<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pneutakecare : X-ray Image Classification using Convolutional Neural Networks</title>
   <style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: right;
}
</style>


      <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">

</head>

<body>
		<h1>X-ray Image Classification using <span>Convolutional Neural Networks</span></h1>

		<div id="contact" style="margin:65px; margin-top:80px;">
		    <h3>Contact developers: Pratyusha Sinha, <a href="https://subratasarkar32.github.io/" >Subrata Sarkar</a></h3>
		    <h3>Email: <a href="mailto:pneutakecare@gmail.com">pneutakecare@gmail.com</a></h3>
            <div id="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.37070244257!2d88.38924591449822!3d22.565234585186534!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a02767d397506af%3A0x2b352e7f5c0bdb12!2sGovernment+College+of+Engineering+And+Ceramic+Technology!5e0!3m2!1sen!2sin!4v1551210612470" width="100%" height="400vh" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
		</div>

<div class="footer">
  <a href="https://subrata32.pythonanywhere.com">Home</a> | <a href="https://subrata32.pythonanywhere.com/about/">About</a> | <a href="https://subrata32.pythonanywhere.com/contact/">Contact</a>
</div>
</body>
</html>